*{
    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient( to top, black,rgb(13, 39, 39),rgb(8, 66, 66));
    font-family: "Opens Sans", sans-serif;
    
    
}

.container{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}    
input{
    background-color: rgba(0, 0, 0,0.5);
}

.searchbox{
    width: 100%;
    position: relative;
    display: flex;
    
}
.search{
    width: 100%;
    border: 3px solid white;
    border-right: none;
    padding: 15px;
    height: 40px;
    outline: none;
    color: #9dbfaf;
}
.search:focus{
    color: whitesmoke;
    box-shadow: 0 0 5px grey;
}
.searchbtn{
    width: 45px;
    height: 40px;
    border: 1px solid white;
    background:rgb(44, 51, 51);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
h2{
 color: whitesmoke;
 text-align: center;
 font-family: cursive;
 margin-top: 20px;
}